# Tipos de Variáveis

<center><img width="40%"  src="https://github.com/leonardo-multiverso/img/blob/main/var.gif?raw=true"></center>

O Python nos permite associar valores à variáveis para que possam ser acessados a qualquer momento durante a execução do código.

A grosso modo, uma variável é um "nome" atribuído à um objeto que pode ser de qualquer tipo. Ao associarmos um objeto a este nome, podemos invocá-lo quando precisamos.

Para associarmos um valor a uma variável, utilizamos o operador `=`.

In [1]:
# associando a frase "Beco do Exploit" à variável b.
b = "Beco do Exploit"

Após associar um valor à variável, podemos invocá-lo, no caso vamos imprimí-lo na tela.

In [2]:
print(b)

Beco do Exploit

Uma variável também pode ter seu valor alterado ao longo do mesmo código:

In [3]:
# atribuindo valor inicial

x = 200
print("Valor inicial:", x)

# atribuindo um novo valor
x = 250
print("Valor alterado:", x)

Valor inicial: 200
Valor alterado: 250

## Diferentes tipos de variáveis

Uma variável pode conter uma ampla gama de valores, a princípio, vamos ver as 3 principais: `integers`, `floats` e `strings`.

### Integers

Integers, ou inteiros são números sem valores decimais, para associá-lo a uma variável, basta criá-la com um número:

In [4]:
x = 400
print(x)

400

### Floats

Floats são números com valores decimais, aqui vale uma observação importante: o Python não utiliza vírgula para separar a casa decimal, mas sim o `.`

Para criar uma variável float, basta associá-la a um número que possua casa decimal:

In [7]:
x = 70.5
print(x)

70.5

### Strings

Strings são sequencias de caracteres que podem conter caracteres como letras, números, símbolos...

Em Python, podemos definir strings inserindo seu conteúdom dentro de aspas, sejam elas simples ou duplas:

In [8]:
s = "Isto é uma string"
print(s)

s = 'Isto também é uma string'
print(s)

Isto é uma string
Isto também é uma string

In [14]:
s = 'A vantagem do Python é sua "facilidade"! 1234'
print(s)

A vantagem do Python é sua "facilidade"! 1234

## Como verificar o tipo de uma variável?

Toda vez que criamos uma variável, definimos exatamente o que queremos, mas muitas das vezes criamos uma variável que irá receber o resultado de uma função ou requisição, e nem sempre teremos o controle de que tipo de dado estamos lidando.

É comum recebermos números definidos como string, o que pode demonstrar mal comportamento do nosso código, não permitindo operações matemáticas.

Para verificarmos o tipo da variável, podemos utilizar a função `type()`.

In [15]:
x = 5
type(x)

int

In [16]:
y = 5.0
type(y)

float

In [17]:
z = "5"
type(z)

str

In [19]:
z = 5
a = z + 2
print(a)

7

## Convertendo variáveis

Também é possível converter o tipo de uma variável, dentro dos 3 tipos que estamos trabalhando seguindo as seguintes regras:

* Integer e float podem se converter entre sí e se converter para string
* String pode se converter para integer ou float somente se for um número
* Letras e símbolos se limitam somente a strings

Para efetuar estas conversöes, utilizamos as funções `int()`, `float()` e `str()`.

In [26]:
# convertendo integer em float
x = 5
print(type(x))
x = float(x)
print(x)
type(x)

<class 'int'>
5.0

float

In [25]:
print(type("beco"))
type(5)

<class 'str'>

int

In [22]:
# convertendo integer em string
x = 5
x = str(x)
print(x)
type(x)

5

str

In [29]:
# convertendo float em integer (valor é truncado e não arredondado)
x = 6.6
x = int(x)
print(x)
type(x)

6

int

In [30]:
# convertendo float em string
x = 6.6
x = str(x)
print(x)
type(x)

6.6

str

In [34]:
# convertendo uma string em integer/float

x = "6"
print(type(x))
x = int(x)
type(x)

<class 'str'>

int

## Variáveis derivadas de outras variáveis

Outra grande ferramenta que o Python possui, é a capacidade de criar uma variável que seja derivada de uma outra variável, seja criando uma cópia ou utilizando operadores.

In [36]:
x = 15
y = x * 10
z = y * x
print("O valor de x é:", x)
print("O valor de y é:", y)
print("O valor de z é:", z)

O valor de x é: 15
O valor de y é: 150
O valor de z é: 2250

### Comentários no Python

In [38]:
# Exemplo de comentário em uma linha

'''
Isto é um comentário 
em bloco
'''

'\nIsto é um comentário \nem bloco\n'

In [41]:
# exemplo de query em SQL

query = 'select * from tabela where campo = x and nome = \'jose\''
query = """
    select
        *
    from
        tabela
    where
        campo = x
        and nome = "jose"
"""

print(query)

    select
        *
    from
        tabela
    where
        campo = x
        and nome = "jose"

In [45]:
# exemplo 1 de query em SQL com variéveis

nome = "jose"
query = """
    select
        *
    from
        tabela
    where
        campo = x
        and nome = '""" + nome + "'"
    
print(query)

    select
        *
    from
        tabela
    where
        campo = x
        and nome = 'jose'

In [46]:
# exemplo 2 de query em SQL com variéveis

nome = "jose"
query = f"""
    select
        *
    from
        tabela
    where
        campo = x
        and nome = '{nome}'
"""
    
print(query)

    select
        *
    from
        tabela
    where
        campo = x
        and nome = 'jose'

In [47]:
# exemplo 3 de query em SQL com variéveis

nome = "jose"
query = """
    select
        *
    from
        tabela
    where
        campo = x
        and nome = '{}'
""".format(nome)
    
print(query)

    select
        *
    from
        tabela
    where
        campo = x
        and nome = 'jose'

In [49]:
# exemplo 4 de query em SQL com variéveis

nome = "jose"
idade = 33
query = """
    select
        *
    from
        tabela
    where
        campo = x
        and nome = '%s'
        and idade = %s
"""%(nome, idade)
    
print(query)

    select
        *
    from
        tabela
    where
        campo = x
        and nome = 'jose'
        and idade = 33

In [51]:
# concatenação de strings com "+"

a = "beco "
b = "do exploit"

print(a, b)
print(a + b)

beco  do exploit
beco do exploit

In [53]:
# multiplicação de strings

a = "Beco do Exploit "
b = a * 10
print(b)

Beco do Exploit Beco do Exploit Beco do Exploit Beco do Exploit Beco do Exploit Beco do Exploit Beco do Exploit Beco do Exploit Beco do Exploit Beco do Exploit